# R
.Rhistory
.RData
.Rproj.user/

# Quarto
*_files/
*.utf8.md
*.knit.md
_site/
*.html
_book/

# Quarto internal cache and metadata
.quarto/_freeze/
.quarto/idx/
.quarto/project-cache/
.quarto/xref/

# System
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Secrets
.env
*.key

/.quarto/
